JWT_SECRET=your_jwt_secret_here
JWT_SECRET_EXPIRES=60m
DATABASE_URL=postgresql://localhost:5432
DATABASE_NAME=database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=kupipodariday
POSTGRES_SYNC=true
PORT=3000